    {{#DEBUG}}
        <div class="alert-info">
            <a href="http://oknesset.org/">http://oknesset.org/</a>
        </div>
    {{/DEBUG}}
    <div class="navbar navbar-fixed-top"><div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" style="margin:5px; background:white; width:80px; padding:3px;" href="{{main_url}}">
                <img src ="{{MEDIA_URL}}/img/oknesset-logo-small.png" alt="{{#_}}Open Knesset{{/_}}"/>
            </a>
            <div id="search" class="pull-right navbar-search">{{search_form}}</div>
            {{>login_toolbar}}
            <ul class="nav">
                <li id="laws_link"><a href="#legislation">{{#_}}Legislation{{/_}}</a></li>
                <li id="mks_link"><a href="#members">{{#_}}Members{{/_}}</a></li>
            </ul>
        </div></div>
    </div>

