    <title>{{extratitle}} | {{#_}}Open Knesset{{/_}}</title>

    <meta charset="UTF-8">
    <meta name="Authors" content="Hasadna">
    <meta name="License" content="CC-by-sa-3.0 Attribution-ShareAlike 3.0">
    <meta http-equiv="Content-Language" content="{{LANGUAGE_CODE}}">
    <meta NAME="ROBOTS" content="NOINDEX, NOFOLLOW">

    <link href="{{MEDIA_URL}}css/jquery.jgrowl.css" rel="stylesheet" media="screen" />
    <link href="{{MEDIA_URL}}css/bootstrap-rtl.css?v=1" rel="stylesheet" media="screen" />
    <link href="{{MEDIA_URL}}css/common.css?v=1" rel="stylesheet" media="screen" />
    <link rel="shortcut icon" href="{{MEDIA_URL}}/img/favicon.png" />
    <link rel="gettext" type="application/x-po" href="locale/he/LC_MESSAGES/mustache.po">
    <style>
        body { padding-top:86px;}
    </style>
    {{extrahead}}
