<!DOCTYPE html>
<html>
<head>
  <title>{{extratitle}} | {{#_}}Open Knesset{{/_}}</title>

  <meta charset="UTF-8" />
  <meta name="Authors" content="Hasadna" />
  <meta name="License" content="CC-by-sa-3.0 Attribution-ShareAlike 3.0" />
  <meta http-equiv="Content-Language" content="{{LANGUAGE_CODE}}" />
  <meta NAME="ROBOTS" content="NOINDEX, NOFOLLOW" />

  <base href="/" />
  <link href="css/bootstrap-rtl.css?v=1" rel="stylesheet" type="text/css" media="screen" />
  <link href="css/bootstrap-responsive-rtl.css?v=1" rel="stylesheet" type="text/css" media="screen" />
  <link href="css/common.css?v=1" rel="stylesheet" type="text/css" media="screen" />
  <link rel="shortcut icon" href="img/favicon.png" />
  <style>
    body { padding-top:86px;}
  </style>
  {{extrahead}}
</head>
<body>

  {{#DEBUG}}
  <div class="alert-info">
    <a href="http://oknesset.org/">http://oknesset.org/</a>
  </div>
  {{/DEBUG}}
  
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{main_url}}">כנסת פתוחה</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li id="bill-nav"><a href="/bill">חקיקה</a></li>
              <li><a href="#">ועדות</a></li>
              <li id="member-nav"><a href="/member">חברי כנסת</a></li>
            </ul>
            <div id="search" class="pull-right navbar-search">{{search_form}}</div>
            <ul class="nav pull-right">
		        {{#user}}
		        <li><a href="#profile">{{#_}}Logged in as{{/_}} {{name}}</a></li>
		        <li><a href="#edit_profile">{{#_}}Edit Profile{{/_}}</a></li>
		        <li><a href="#logout">{{#_}}Logout{{/_}}</a></li>
		        {{/user}}
		        {{^user}}
		        <li><a href="#login">{{#_}}login{{/_}}</a></li>
		        {{/user}}
		      </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <div id="main" class="container-fluid">
    {{{ body }}}
    <footer class="footer">
        <p><a href="/about">חלק מהזכויות שמורות. פרטים בקישור. שימוש בנתונים מהאתר כפוף למתן קרדיט וקישור לאתר.</a></p>
    </footer>
  </div>

</body>
</html>
