<!DOCTYPE html>
<html>
<head>
  <title>{{extratitle}} | {{#_}}Open Knesset{{/_}}</title>

  <meta charset="UTF-8" />
  <meta name="Authors" content="Hasadna" />
  <meta name="License" content="CC-by-sa-3.0 Attribution-ShareAlike 3.0" />
  <meta http-equiv="Content-Language" content="{{LANGUAGE_CODE}}" />
  <meta NAME="ROBOTS" content="NOINDEX, NOFOLLOW" />

  <base href="{{MEDIA_URL}}" />
  <link href="/css/jquery.jgrowl.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="/css/bootstrap-rtl.css?v=1" rel="stylesheet" type="text/css" media="screen" />
  <link href="/css/common.css?v=1" rel="stylesheet" type="text/css" media="screen" />
  <link rel="shortcut icon" href="/img/favicon.png" />
  <link rel="gettext" type="application/x-po" href="/locale/he/LC_MESSAGES/mustache.po" />
  <style>
    body { padding-top:86px;}
  </style>
  {{extrahead}}
</head>
<body>
  <!-- Base Header -->
  <div class="navbar navbar-fixed-top"><div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" style="margin:5px; background:white; width:80px; padding:3px;" href="{{main_url}}">
        <img src ="/img/oknesset-logo-small.png" alt="{{#_}}Open Knesset{{/_}}"/>
      </a>
      <div id="search" class="pull-right navbar-search">{{search_form}}</div>
      {{>partials/login_toolbar}}
      <ul class="nav">
        <li id="laws_link"><a href="#legislation">{{#_}}Legislation{{/_}}</a></li>
        <li id="mks_link"><a href="#members">{{#_}}Members{{/_}}</a></li>
      </ul>
    </div></div>
  </div>
  <!-- // Base Header -->
  {{{ body }}}
</body>
</html>