body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url(../../../img/body_bg.png);
}

.emphasize{
  padding: 0 20px;
  background: #f8f800;
}

/********************************
  Stages 
********************************/

.bill .container hgroup{
	text-align: center;
	margin-top:50px;
}

.bill .container h1,
.bill .container h2{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0;
	line-height: 24px;
}

.bill .accordion{
	padding: 40px;
}

.bill #stages{
	background: url(../../../img/bill_bg.png);
	box-shadow:	2px 2px 15px rgba(0,0,0,0.2),
				2px 2px 5px white inset;
	position: relative;
	min-height: 660px;
	border: 1px solid #babbb8;
}

#stages > .tab-pane.active{
	background: url(../../../img/gridgrey_bg.png);
	box-shadow:	2px 2px 15px rgba(0,0,0,0.2);
	position: absolute;
	top: 118px;
	width: 578px;
	min-height: 490px;
	border: 1px solid #BABBB8;
	border-right: 0;
	padding: 20px 20px;
}

#stages > .tab-pane.passed{
	background: url(../../../img/gridgreen_bg.png);
	border-color: #9fbe9b;
}

#stages > .tab-pane.rejected{
	background: url(../../../img/gridred_bg.png);
	border-color: #eea59e;
}

#stages > .tab-pane.active h2,
#stages > .tab-pane.active p,
#stages > .tab-pane.active ul{
	padding: 0 23px; 
}

/* Responsive*/
@media (min-width: 1200px) {
	#stages > .tab-pane.active{
		width: 748px;
	}
}
/* End Responsive*/

.tab-pane{
	display:none;
}
.tab-pane.active{
	display:block;
}

#billForm{
	display: none;
}

/* side-tabs buttons */

.bill ul#stage-buttons{
    border: 0 none;
    margin: 60px 0 0 -11px;
    position: relative;
    width: 70px;
    z-index: 10;
}

.bill ul#stage-buttons li{
	background: url(../../../img/bill_buttons_bg.png) top right no-repeat;
}

.bill ul#stage-buttons li.active,
.bill ul#stage-buttons li.active:hover{
	background-position: center right;
}

.bill ul#stage-buttons li:hover{
	background-position: bottom right;
}

.bill ul#stage-buttons a{
    background: url(../../../img/bill_icons.png) no-repeat;
    border: 0 none;
    border-radius: 0 0 0 0;
    display: block;
    margin-bottom: 0;
    min-height: 60px;
    min-width: 60px;
    overflow: hidden;
    padding: 0;
    text-indent: -200%;
}

.bill ul#stage-buttons .billForm a{ background-position: 10px 0;}
.bill ul#stage-buttons .initiated a{ background-position: 10px -60px;}
.bill ul#stage-buttons .govposition a{ background-position: 10px -120px;}
.bill ul#stage-buttons .prevote a{ background-position: 10px -180px;}
.bill ul#stage-buttons .committee1 a{ background-position: 10px -240px;}
.bill ul#stage-buttons .vote1 a{ background-position: 10px -300px;}
.bill ul#stage-buttons .committee2 a{ background-position: 10px -360px;}
.bill ul#stage-buttons .vote2 a{ background-position: 10px -420px;}
.bill ul#stage-buttons .vote3 a{ background-position: 10px -480px;}
.bill ul#stage-buttons .accepted a{ background-position: 10px -540px;}


/* END side-tabs buttons */

.bill div.tabbable{
	margin-right:0;
}


.sidebar-nav {
  padding: 9px 0;
}
