body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url(../../../img/body_bg.png);
}

.emphasize{
  padding: 0 20px;
  background: #f8f800;
}

/********************************
  Stages 
********************************/

.bill hgroup{
	text-align: center;
	margin-top:50px;
}

.bill h1,
.bill h2{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0;
	line-height: 24px;
}

.bill .accordion{
	padding: 40px;
}

.bill #stages{
	background: url(../../../img/bill_bg.png);
	box-shadow:	2px 2px 15px rgba(0,0,0,0.2),
				2px 2px 5px white inset;
	position: relative;
	min-height: 660px;
	border: 1px solid #babbb8;
}

#stages > .tab-pane.active{
	background: url(../../../img/gridgrey_bg.png);
	box-shadow:	2px 2px 15px rgba(0,0,0,0.2);
	position: absolute;
	top: 118px;
	width: 578px;
	min-height: 490px;
	border: 1px solid #BABBB8;
	border-right: 0;
	padding: 20px 20px;
}

#stages > .tab-pane.passed{
	background: url(../../../img/gridgreen_bg.png);
	border-color: #9fbe9b;
}

#stages > .tab-pane.rejected{
	background: url(../../../img/gridred_bg.png);
	border-color: #eea59e;
}

#stages > .tab-pane.active h2,
#stages > .tab-pane.active p,
#stages > .tab-pane.active ul{
	padding: 0 23px; 
}

/* Responsive*/
@media (min-width: 1200px) {
	#stages > .tab-pane.active{
		width: 748px;
	}
}
/* End Responsive*/

.tab-pane{
	display:none;
}
.tab-pane.active{
	display:block;
}

#billForm{
	display: none;
}

/* side-tabs buttons */

.bill ul#stage-buttons{
    border: 0 none;
    margin: 60px 0 0 -11px;
    position: relative;
    width: 70px;
    z-index: 10;
}

.bill ul#stage-buttons li{
	background: url(../../../img/bill_buttons_bg.png) top right no-repeat;
}

.bill ul#stage-buttons li.active,
.bill ul#stage-buttons li.active:hover{
	background-position: center right;
}

.bill ul#stage-buttons li:hover{
	background-position: bottom right;
}

.bill ul#stage-buttons a{
    background: url(../../../img/bill_icons.png) no-repeat;
    border: 0 none;
    border-radius: 0 0 0 0;
    display: block;
    margin-bottom: 0;
    min-height: 60px;
    min-width: 60px;
    overflow: hidden;
    padding: 0;
    text-indent: -200%;
}

.bill ul#stage-buttons .billForm a{ background-position: 10px 0;}
.bill ul#stage-buttons .initiated a{ background-position: 10px -60px;}
.bill ul#stage-buttons .govposition a{ background-position: 10px -120px;}
.bill ul#stage-buttons .prevote a{ background-position: 10px -180px;}
.bill ul#stage-buttons .committee1 a{ background-position: 10px -240px;}
.bill ul#stage-buttons .vote1 a{ background-position: 10px -300px;}
.bill ul#stage-buttons .committee2 a{ background-position: 10px -360px;}
.bill ul#stage-buttons .vote2 a{ background-position: 10px -420px;}
.bill ul#stage-buttons .vote3 a{ background-position: 10px -480px;}
.bill ul#stage-buttons .accepted a{ background-position: 10px -540px;}


/* END side-tabs buttons */

.bill div.tabbable{
	margin-right:0;
}

/* side bar*/
.sidebar {
	margin-right:0;
}

.sidebar-nav {
  padding: 9px 0;
}
.sidebar h3{
	background-color:#898989;
	font-size:16px;
	padding-right:5px;
	color:#ffffff;
}
.sidebar strong{
	display: block;
    line-height: 0.7em;
    padding-top: 4px;
}
.sidebar-container span{
	color:#898989;
	display: block;
}
.profile{
	font-size:15px;
}
.sidebar .btn-group{
	margin: 45px 50px;	
}
.sidebar .btn-group > a.btn{
	display: block;
	width: 133px;
}

.sidebar li{	
    border-bottom: 1px solid #EEEEEE;
    clear: both;
    list-style: none outside none;
}
.sidebar li img{
	float: right;
	margin-left:10px;
}
.sidebar ul{
	margin:0;
}
.sidebar li span{
	display: block;
    padding-bottom: 3px;
}
.sidebar > .sidebar-container{
	float: right;
    margin-bottom: 20px;
    width: 100%;
	background-color:#eeeced;
}
.sidebar-container-link{
	font-size:15px;
}
.sidebar-container-link-li{
	padding-right:5px;
}
.public-debate-link-container{
	width:50%;
	float:right;
}
.public-debate-link{
	padding-right:44px;
}
#comments{
	background: url("../../../img/comments.png") no-repeat scroll right top transparent;
    display: block;
    height: 45px;
}
#links{
	background: url("../../../img/links.png") no-repeat scroll right top transparent;
    display: block;
    height: 45px;
}
#embeds{
	background: url("../../../img/embeds.png") no-repeat scroll right top transparent;
    display: block;
    height: 45px;
}
#following{
	background: url("../../../img/following.png") no-repeat scroll right top transparent;
    display: block;
    height: 45px;
}

/* Seats in Vote */

.vote {
	border: 1px solid red;
	position: relative;
}

.vote ul {
	list-style: none;
}

.vote ul li {
	height: 28px;
	width: 28px;
	position: absolute;
}

.vote ul li a {
	position: relative;
}

.vote ul li .mkhover {
	display: none;
	position: absolute;
	top: -50px;
	left: 0px;	
}

.vote ul li a:hover .mkhover {
	display: block;
}

.vote ul.for li {
	border: 1px solid green;
}

.vote ul.against li {
	border: 1px solid red;
}

.vote ul.novote li {
	border: 1px solid gray;
}

.vote ul.missing li {
	border: 1px solid silver;
}


/* left block */

#mk1 {
	top: 45px;
	left: 0;
}

#mk2 {
	top: 78px;
	left: 0;
}

#mk3 {
	top: 111px;
	left: 0;
}

#mk4 {
	top: 144px;
	left: 0;
}

#mk5 {
	top: 177px;
	left: 0;
}

#mk6 {
	top: 210px;
	left: 0;
}

#mk7 {
	top: 243px;
	left: 0;
}

#mk8 {
	top: 276px;
	left: 0;
}

#mk9 {
	top: 309px;
	left: 0;
}

#mk10 {
	top: 342px;
	left: 0;
}

#mk11 {
	top: 375px;
	left: 0;
}

#mk12 {
	top: 60px;
	left: 40px;
}

#mk13 {
	top: 93px;
	left: 40px;
}

#mk14 {
	top: 126px;
	left: 40px;
}

#mk15 {
	top: 159px;
	left: 40px;
}

#mk16 {
	top: 192px;
	left: 40px;
}

#mk17 {
	top: 225px;
	left: 40px;
}

#mk18 {
	top: 258px;
	left: 40px;
}

#mk19 {
	top: 291px;
	left: 40px;
}

#mk20 {
	top: 324px;
	left: 40px;
}

#mk21 {
	top: 357px;
	left: 40px;
}

#mk22 {
	top: 78px;
	left: 80px;
}

#mk23 {
	top: 111px;
	left: 80px;
}

#mk24 {
	top: 144px;
	left: 80px;
}

#mk25 {
	top: 177px;
	left: 80px;
}

#mk26 {
	top: 210px;
	left: 80px;
}

#mk27 {
	top: 243px;
	left: 80px;
}

#mk28 {
	top: 276px;
	left: 80px;
}

#mk29 {
	top: 309px;
	left: 80px;
}

#mk30 {
	top: 343px;
	left: 80px;
}

#mk31 {
	top: 111px;
	left: 120px;
}

#mk32 {
	top: 144px;
	left: 120px;
}

#mk33 {
	top: 177px;
	left: 120px;
}

#mk34 {
	top: 210px;
	left: 120px;
}

#mk35 {
	top: 243px;
	left: 120px;
}

#mk36 {
	top: 276px;
	left: 120px;
}

#mk37 {
	top: 309px;
	left: 120px;
}

/* right block */

#mk38 {
	top: 45px;
	left: 560px;
}

#mk39 {
	top: 78px;
	left: 560px;
}

#mk40 {
	top: 111px;
	left: 560px;
}

#mk41 {
	top: 144px;
	left: 560px;
}

#mk42 {
	top: 177px;
	left: 560px;
}

#mk43 {
	top: 210px;
	left: 560px;
}

#mk44 {
	top: 243px;
	left: 560px;
}

#mk45 {
	top: 276px;
	left: 560px;
}

#mk46 {
	top: 309px;
	left: 560px;
}

#mk47 {
	top: 342px;
	left: 560px;
}

#mk48 {
	top: 375px;
	left: 560px;
}

#mk49 {
	top: 60px;
	left: 520px;
}

#mk50 {
	top: 93px;
	left: 520px;
}

#mk51 {
	top: 126px;
	left: 520px;
}

#mk52 {
	top: 159px;
	left: 520px;
}

#mk53 {
	top: 192px;
	left: 520px;
}

#mk54 {
	top: 225px;
	left: 520px;
}

#mk55 {
	top: 258px;
	left: 520px;
}

#mk56 {
	top: 291px;
	left: 520px;
}

#mk57 {
	top: 324px;
	left: 520px;
}

#mk58 {
	top: 357px;
	left: 520px;
}

#mk59 {
	top: 78px;
	left: 480px;
}

#mk60 {
	top: 111px;
	left: 480px;
}

#mk61 {
	top: 144px;
	left: 480px;
}

#mk62 {
	top: 177px;
	left: 480px;
}

#mk63 {
	top: 210px;
	left: 480px;
}

#mk64 {
	top: 243px;
	left: 480px;
}

#mk65 {
	top: 276px;
	left: 480px;
}

#mk66 {
	top: 309px;
	left: 480px;
}

#mk67 {
	top: 343px;
	left: 480px;
}

#mk68 {
	top: 111px;
	left: 440px;
}

#mk69 {
	top: 144px;
	left: 440px;
}

#mk70 {
	top: 177px;
	left: 440px;
}

#mk71 {
	top: 210px;
	left: 440px;
}

#mk72 {
	top: 243px;
	left: 440px;
}

#mk73 {
	top: 276px;
	left: 440px;
}

#mk74 {
	top: 309px;
	left: 440px;
}




/* bottom block */

#mk75 {
	top: 360px;
	left: 197px;
}

#mk76 {
	top: 360px;
	left: 230px;
}

#mk77 {
	top: 360px;
	left: 263px;
}

#mk78 {
	top: 360px;
	left: 297px;
}

#mk79 {
	top: 360px;
	left: 330px;
}

#mk80 {
	top: 360px;
	left: 363px;
}


/* top U's */

#mk87 {
	top: 0px;
	left: 160px;
}

#mk88 {
	top: 33px;
	left: 160px;
}

#mk89 {
	top: 66px;
	left: 160px;
}

#mk90 {
	top: 99px;
	left: 160px;
}

#mk91 {
	top: 132px;
	left: 160px;
}

#mk92 {
	top: 165px;
	left: 160px;
}

#mk93 {
	top: 198px;
	left: 160px;
}

#mk94 {
	top: 231px;
	left: 160px;
}

#mk95 {
	top: 264px;
	left: 160px;
}

#mk96 {
	top: 297px;
	left: 160px;
}

#mk97 {
	top: 330px;
	left: 160px;
}

#mk98 {
	top: 330px;
	left: 193px;
}

#mk99 {
	top: 330px;
	left: 226px;
}

#mk100 {
	top: 330px;
	left: 259px;
}

#mk101 {
	top: 330px;
	left: 292px;
}

#mk102 {
	top: 330px;
	left: 325px;
}

#mk103 {
	top: 330px;
	left: 358px;
}

#mk104 {
	top: 297px;
	left: 358px;
}

#mk105 {
	top: 264px;
	left: 358px;
}

#mk106 {
	top: 231px;
	left: 358px;
}

#mk107 {
	top: 198px;
	left: 358px;
}

#mk108 {
	top: 165px;
	left: 358px;
}

#mk109 {
	top: 132px;
	left: 358px;
}

#mk110 {
	top: 99px;
	left: 358px;
}

#mk111 {
	top: 66px;
	left: 358px;
}

#mk112 {
	top: 33px;
	left: 358px;
}

#mk113 {
	top: 0px;
	left: 358px;
}

#mk114 {
	top: 231px;
	left: 226px;
}

#mk115 {
	top: 264px;
	left: 226px;
}

#mk116 {
	top: 297px;
	left: 226px;
}

#mk117 {
	top: 297px;
	left: 259px;
}

#mk118 {
	top: 297px;
	left: 292px;
}

#mk119 {
	top: 264px;
	left: 292px;
}

#mk120 {
	top: 231px;
	left: 292px;
}