#agendas .score-bar {position:relative; width: 40%; vertical-align:middle;}
#agendas .progress {margin-bottom:0;}
#agendas .score-bar .all {position:absolute; width: 0%; left:10%;
    vertical-align:middle;}
#agendas .score-bar .party {position:absolute; width: 0%; left:10%;
    vertical-align:middle;background-color:green;background-image:none;}
#agendas .score-bar .score {position:absolute; border: 1px solid black; top:15%; height: 70%;}
