<link rel="stylesheet" href="/css/member.css"/>

<div class="row">
  <div class="span3">
      <h1>
        {{name}}
      </h1>
      <div class="row">
        <div class="span1" style="text-align:center;">
          <div style="margin-bottom:0.2em;">{{#party}}<a class="btn" href="{{absolute_url}}">{{name}}</a>{{/party}}</div>
          <img src="{{img_url}}" alt="התמונה של {{name}} מאתר הכנסת"/>
        </div>
        <div class="span2">
          <dl class="dl-horizontal" style="margin-top:0;">
            <dt>מגורים</dt>
            <dd>{{place_of_residence}}</dd>
            <dt>תאריך לידה</dt>
            <dd>{{date_of_birth}}</dd>
            <dt>מספר ילדים</dt>
            <dd>{{number_of_children}}</dd>
          </dl>
        </div>
      </div>
      <dl class="dl-horizontal" style="margin-top:0;">
        <dt>טלפון</dt>
        <dd>{{phone}}</dd>
        <dt>פקס</dt>
        <dd>{{fax}}</dd>
      </dl>
      <p>{{current_role_description}}</p>
    <ul class="nav nav-list">
      <li class="nav-header">קישורים</li>
      <li><a href="mailto:{{email}}">דואל</a></li>
      {{#links}}
        <li><a href="{{url}}">{{title}}</a></li>
      {{/links}}
    </ul>
   </div>
  <div class="span9">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">אג'נדות</a>
      </li>
      <li>
        <a href="#">סטטיסטיקות</a>
      </li>
      <li>
        <a href="#">וידאו</a>
      </li>
    </ul>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>אג'נדה</th>
          <th>חברי הכנסת, המפלגה והציון</th>
      </thead>
      <tbody id="agendas">
        <tr>
          <td colspan="2">טוען...</td>
        </tr>
      </tbody>
    </table>
    {{=<% %>=}}<script type="text/html" id="agenda-template">
      {{#agendas}}
      <tr>
        <td>
          <a href="{{absolute_url}}">{{name}}</a>
          מאת: {{owner}}
        </td>
        <td class="score-bar">
            <div class="progress progress-info">
              <div id="agenda-bar-{{id}}" class="bar all"></div>
              <div id="agenda-bar-party-{{id}}" class="bar party"></div>
              <div id="agenda-score-{{id}}" class="score"></div>
            </div>
        </td>
      </tr>
      {{/agendas}}
    </script><%={{ }}=%>
  </div>
</div>

<script>
    var app = 'member';
    // TODO: refactor to be handled by the node server
    var require = {
        baseUrl : '/js',
        deps    : ['jquery'],
        paths   : {
            jquery      : 'jquery.min',
            plugins     : 'lib',
            eventbox    : 'lib/eventbox',
            mustache    : 'mustache'
        },
        callback: function () {
            require(['apps/'+app], function (app) {
              // TODO: find a way to pass entire content to app.init
              app.agendas("{{agendas_uri}}");
            });
        }
    };
</script>
<script src="/js/require.js"></script>
