<link rel="stylesheet" href="/css/member.css"/>
<div class="row">
  <div class="span 1">
    <img src="{{img_url}}" alt="התמונה של {{name}} מאתר הכנסת"/>
  </div>
  <div class="span 4">
    <h1>
      {{name}} -
      {{#party}}<a href="{{absolute_url}}">{{name}}</a>{{/party}}
    </h1>
    <p>{{current_role_description}}</p>
  </div>
</div>
<div class="row">
  <div class="span9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>אג'נדה</th>
          <th>חברי הכנסת, המפלגה והציון</th>
      </thead>
      <tbody id="agendas">
        <tr>
          <td colspan="2">טוען...</td>
        </tr>
      </tbody>
    </table>
    {{=<% %>=}}<script type="text/html" id="agenda-template">
      {{#agendas}}
      <tr>
        <td>
          <a href="{{absolute_url}}">{{name}}</a>
          מאת: {{owner}}
        </td>
        <td class="score-bar">
            <div class="progress progress-info">
              <div id="agenda-bar-{{id}}" class="bar all"></div>
              <div id="agenda-bar-party-{{id}}" class="bar party"></div>
              <div id="agenda-score-{{id}}" class="score"></div>
            </div>
        </td>
      </tr>
      {{/agendas}}
    </script><%={{ }}=%>
  </div>
  <div class="span3">
    <ul class="well nav nav-list">
      <li class="nav-header">קישורים</li>
      <li><a href="mailto:{{email}}">דואל</a></li>
      {{#links}}
        <li><a href="{{url}}">{{title}}</a></li>
      {{/links}}
    </ul>
    <dl class="dl-horizontal">
      <dt>מגורים</dt>
      <dd>{{place_of_residence}}</dd>
      <dt>תאריך לידה</dt>
      <dd>{{date_of_birth}}</dd>
      <dt>מספר ילדים</dt>
      <dd>{{number_of_children}}</dd>
    </dl>
   </div>
</div>

<script>
    var app = 'member';
    // TODO: refactor to be handled by the node server
    var require = {
        baseUrl : '/js',
        deps    : ['jquery'],
        paths   : {
            jquery      : 'jquery.min',
            plugins     : 'lib',
            eventbox    : 'lib/eventbox',
            mustache    : 'mustache'
        },
        callback: function () {
            require(['apps/'+app], function (app) {
              // TODO: find a way to pass entire content to app.init
              app.agendas("{{agendas_uri}}");
            });
        }
    };
</script>
<script src="/js/require.js"></script>
